<template>
    <div class="<%=compoentName%>">
        <h1>{{msg}}</h1>
    </div>
</template>
<script>
export default {
    name: "",
    components: {},
    props: {

    },
    data() {
        return {
            message: "<%=compoentName%>"
        }
    },
    created() {

    },
    mounted() {

    },
    watch: {

    }
}
</script>
<style lang="<%=cssFront%>">
    .<%=compoentName%>{
        
    }
</style>